@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-vue: hsla(160, 100%, 37%, 1);

    --font-vue: 'Stack Sans Notch';
    --default-font-family: var(--font-vue);
}

@layer base {
    *:focus-visible {
        outline: 2px solid var(--color-vue);
    }

    @font-face {
        font-family: 'Stack Sans Notch';
        src: url('./fonts/StackSansNotch-Regular.woff2') format('woff2'),
             url('./fonts/StackSansNotch-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    input[type="checkbox"] {
        @apply appearance-none w-4 h-4 border-2 border-slate-400 rounded cursor-pointer;
        @apply checked:bg-vue checked:border-vue;
        @apply focus:outline-none focus:ring-2 focus:ring-vue/50;
    }

    input[type="checkbox"]:checked::before {
        content: "✓";
        @apply flex items-center justify-center text-white text-xs font-bold;
    }

}
