@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-vue: hsla(160, 100%, 37%, 1);

    --font-vue: 'Stack Sans Notch';
    --default-font-family: var(--font-vue);
}

@layer base {
    *:focus-visible {
        outline: 2px solid var(--color-vue);
    }

    @font-face {
        font-family: 'Stack Sans Notch';
        src: url('./fonts/StackSansNotch-Regular.woff2') format('woff2'),
             url('./fonts/StackSansNotch-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}
